@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  background-color: #efe6e4;
}

.h2__title {
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}

/*Header*/
.header {
  height: 715px;
  margin-bottom: 65px;
  background-color: #c29d71;
  background-image: url("../images/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header__top {
  display: flex;
  padding: 36px 100px 0 98px;
  align-items: center;
}

.logo__link {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  gap: 26px;
  flex-wrap: wrap;
  margin: 0 35px 0 92px;
  padding: 0;
  list-style-type: none;
}

.nav__link,
.header__phone {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.header__phone {
  min-width: 145px;
}

.header__intro {
  padding-left: 182px;
  padding-top: 91px;
}

.main-title {
  margin-top: 0;
  max-width: 534px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 50px;
  line-height: 62px;
}

.header__text {
  max-width: 493px;
  margin-bottom: 21px;
  margin-top: 0;
}

.header__link {
  display: block;
  max-width: 309px;
  padding: 24px 67px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background-color: #cc8b86;
}

/*About*/
.about__title {
  text-align: center;
}

.about__wrapper {
  display: flex;
  gap: 63px;
  padding: 0 182px;
}

.about__img {
  max-width: 444px;
  width: 100%;
  height: auto;
}

.about__text {
  max-width: 528px;
  margin: 0 0 40px 0;
}

.advances__list {
  display: flex;
  justify-content: space-around;
  margin: 21px 0 65px;
  padding: 85px 0 81px 0;
  text-align: center;
  background-color: #8d7370;
  color: #ffffff;
}

.advances__key {
  font-size: 50px;
  line-height: 62px;
}

.advances__value {
  margin: 0;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
}

/*Works*/
.works__title {
  padding-left: 100px;
}

.works__card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px 20px;
}

.works__description {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 488px;
  align-items: center;
  background-color: rgba(100, 72, 69, 0.8);
  background-image: url("../images/works-description.jpg");
  background-size: cover;
  z-index: 0;
}

.works__description::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 72, 69, 0.8);
  z-index: -1;
}

.works__card-title {
  max-width: 270px;
  margin: 86px 0 33px;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #ffffff;
}

.works__card-description {
  max-width: 418px;
  margin: 0;
  color: #ffffff;
}

.works__btn {
  display: block;
  margin: 40px auto 65px;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #533738;
  cursor: pointer;
}

.works__btn:hover {
  font-size: 32px;
  color: #cc8b86;
}

.works__btn::after {
  margin-left: 10px;
  content: url("../images/Arrow.svg");
}

/*Team*/
.team {
  background-color: #e2c4ba;
}

.team__title {
  display: block;
  padding-top: 50px;
  text-align: center;
}

.team__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  gap: 38px;
  list-style-type: none;
}

.team__item {
  max-width: 320px;
}

.team__img {
  margin-bottom: 10px;
}

.team__description {
  margin-top: 0;
  margin-bottom: 35px;
}

/*Process*/
.process {
  margin-bottom: 65px;
  background-color: #e2c4ba;
}

.process__title {
  text-align: center;
}

.process__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
}

.process__num {
  display: flex;
  justify-content: center;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  align-items: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
  background-color: #8d7370;
  border-radius: 50%;
}

.process__description {
  max-width: 285px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 80px;
}

/*Reviews*/
.reviews {
  margin-bottom: 65px;
}

.reviews__title {
  text-align: center;
}

.rewiews__gallery {
  display: flex;
  justify-content: center;
}

.reviews__btn {
  transform: translateY(-13px);
  cursor: pointer;
}

.reviews__card {
  display: grid;
  grid-template-columns: 407px 407px;
  gap: 24px 20px;
  margin: 0 29px;
}

.reviews__text {
  grid-row: span 2;
  margin: auto 0;
}

.reviews__paragraph {
  margin-top: 0;
  margin-bottom: 35px;
}

.reviews__paragraph:last-of-type {
  margin-bottom: 19px;
}

.reviews__author {
  font-style: normal;
  text-transform: uppercase;
}

/*Request*/
.request {
  display: flex;
  column-gap: 20px;
  justify-content: center;
  color: #ffffff;
  background-color: #533738;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.request__title {
  margin-top: 50px;
  margin-bottom: 24px;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 590px;
  padding-left: 180px;
}

.form {
  max-width: 508px;
}

.request__text {
  max-width: 507px;
  margin-top: 0;
  margin-bottom: 44px;
}

.form__input {
  width: 508px;
  margin-bottom: 40px;
  padding-bottom: 4px;
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
}

.form__input:last-of-type {
  margin-bottom: 31px;
}

.form__input::placeholder {
  color: #ffffff;
}

.form__map {
  height: auto;
  width: 100%;
  max-width: 590px;
  margin-right: auto;
}

.form__btn {
  display: block;
  width: 309px;
  height: 74px;
  background-color: #cc8b86;
  cursor: pointer;
}

/*Footer*/
.footer {
  display: flex;
  padding: 37px 100px;
}

.footer__addres {
  margin-left: 42px;
  font-style: normal;
}

.footer__name {
  margin: 0 0 0 auto;
}